com.tencent.mobileqq@@@2131367882~~~0|RelativeLayout/1|RedPointView/1|LinearLayout/0|LinearLayout/2|FPSXListView/1|RelativeLayout/0|FrameLayout/2|DragFrameLayout/0|DrawerFrame/0|QQTabHost/0|NoSaveStateFrameLayout/1|FrameLayout/0|LinearLayout/#~~~360,151$$@@@附近@@@RelativeLayout@@@true
com.tencent.mobileqq@@@2131368545~~~0|ImageView/1|FrameLayout/1|SettingMeRelativeLayout/0|DrawerFrame/0|QQTabHost/0|NoSaveStateFrameLayout/1|FrameLayout/0|LinearLayout/#~~~478,70$$@@@@@@ImageView@@@true
com.tencent.mobileqq@@@2131363454~~~1|RedDotRadioButton/0|SegmentedControlView/1|RelativeLayout/1|RelativeLayout/0|RelativeLayout/0|FrameLayout/2|DragFrameLayout/0|DrawerFrame/0|QQTabHost/0|NoSaveStateFrameLayout/1|FrameLayout/0|LinearLayout/#~~~360,71$$@@@电话@@@RedDotRadioButton@@@true
com.tencent.mobileqq@@@2131362832~~~0|TextView/1|RedTouch/1|RelativeLayout/0|RelativeLayout/1|RelativeLayout/0|FrameLayout/2|DragFrameLayout/0|DrawerFrame/0|QQTabHost/0|NoSaveStateFrameLayout/1|FrameLayout/0|LinearLayout/#~~~616,51$$@@@更多@@@TextView@@@true
com.tencent.mobileqq@@@2131368612~~~2|FormSimpleItem/1|LinearLayout/0|LinearLayout/0|BounceScrollView/1|LinearLayout/0|RelativeLayout/2|FrameLayout/0|LinearLayout/0|TopGestureLayout/#~~~0,364$$@@@QQ达人@@@FormSimpleItem@@@true
com.tencent.mobileqq@@@2131368611~~~1|RelativeLayout/1|LinearLayout/0|LinearLayout/0|BounceScrollView/1|LinearLayout/0|RelativeLayout/2|FrameLayout/0|LinearLayout/0|TopGestureLayout/#~~~0,272$$@@@手机号码@@@RelativeLayout@@@true
com.tencent.mobileqq@@@2131368611~~~1|RelativeLayout/1|LinearLayout/0|LinearLayout/0|BounceScrollView/1|LinearLayout/0|RelativeLayout/2|FrameLayout/0|LinearLayout/0|TopGestureLayout/#~~~0,272$$@@@手机号码@@@RelativeLayout@@@true
com.tencent.mobileqq@@@2131368611~~~1|RelativeLayout/1|LinearLayout/0|LinearLayout/0|BounceScrollView/1|LinearLayout/0|RelativeLayout/2|FrameLayout/0|LinearLayout/0|TopGestureLayout/#~~~0,272$$@@@手机号码@@@RelativeLayout@@@true
com.tencent.mobileqq@@@2131368622~~~8|RelativeLayout/0|LinearLayout/0|BounceScrollView/1|LinearLayout/0|RelativeLayout/2|FrameLayout/0|LinearLayout/0|TopGestureLayout/#~~~0,984$$@@@关于QQ与帮助@@@RelativeLayout@@@true
com.tencent.mobileqq@@@2131363429~~~2|RelativeLayout/1|LinearLayout/1|LinearLayout/2|FPSPinnedHeaderExpandableListView/2|LinearLayout/0|FrameLayout/2|DragFrameLayout/0|DrawerFrame/0|QQTabHost/0|NoSaveStateFrameLayout/1|FrameLayout/0|LinearLayout/#~~~480,237$$@@@@@@RelativeLayout@@@true
com.tencent.mobileqq@@@2131368544~~~4|TextView/1|RelativeLayout/0|RelativeLayout/1|SettingMeRelativeLayout/0|DrawerFrame/0|QQTabHost/0|NoSaveStateFrameLayout/1|FrameLayout/0|LinearLayout/#~~~40,278$$@@@@###%@@@TextView@@@true
