<header class="header-wrap">
  <div style="display: block;width: 100%;background-color:red;color:white">由于基于 GIthub Pages 服务，图片可能无法加载，请见谅！</div>
  <a class="index" href="{{.Site.Root}}/">
    {{if .Site.Logo}}<img class="logo" src="{{.Site.Logo}}" />{{end}}
    {{.Site.Title}}
  </a>
  <ul class="menu">
      <li class="menu-item"><a href="{{.Site.Root}}/archive.html">{{i18n "archive"}}</a></li>
      <li class="menu-item"><a href="{{.Site.Root}}/tag.html">{{i18n "tag"}}</a></li>
	  <li class="menu-item"><a href="{{.Site.Root}}/gays.html">基友</a></li>
	  <li class="menu-item"><a href="{{.Site.Root}}/about.w568w.html">关于</a></li>
      {{if .Site.Url}}<li class="menu-item"><a href="{{.Site.Root}}/atom.xml">{{i18n "rss"}}</a></li>{{end}}
  </ul>
</header>
