<!DOCTYPE html>
<html>
<style>

</style>

<head>
    {{template "head" .}}
    <meta name="keywords" content="{{.Site.Subtitle}}">
    <meta name="description" content="{{.Site.Subtitle}}">
    <title>{{.Site.Title}}</title>
</head>

<body class="mdui-theme-primary-indigo mdui-theme-accent-pink mdui-theme-layout-auto">

    <article class="container">
        {{template "header" .}}

        <article class="main page">
            <header class="header site">
                {{if .TagName}}

                <h1 class="tag">{{.TagName}}</h1>
                <h2 class="tag-sub">{{.TagCount}} {{i18n "articles"}}</h2>
                {{else}}
                <h1 class="title" style="color: whitesmoke;">{{.Site.Title}}</h1>
                <h2 class="subtitle" style="color: white;">{{.Site.Subtitle}}</h2>
                {{template "search" .}} {{end}}
            </header>
            <ul class="article-list">
                {{range .Articles}}
                <!-- <li class="article">
                        <a class="title" href="{{$.Site.Root}}/{{.Link}}">{{if .Top}}<span class="top">[{{i18n "top"}}]</span>{{end}}{{.Title}}</a>
                        {{if .Cover}}<div class="cover" style="background-image:url({{.Cover}});"></div>{{end}}
                        {{if .Preview}}<section class="preview content">{{.Preview}}</section>{{end}}
                        <section class="info">
                            {{if .Author.Avatar}}<span class="avatar" style="background-image: url({{.Author.Avatar}});"></span>{{end}}
                            {{if .Author.Name}}<a class="name" href="{{.Site.Root}}/about.{{.Author.Id}}.html">{{.Author.Name}}</a>{{end}}
                            {{if .Update}}
                            <span class="date" data-time="{{.Update}}"><span class="from"></span></span>
                            {{else}}
                            <span class="date" data-time="{{.Date}}"><span class="from"></span></span>
                            {{end}}
                            <span class="tags">
                            {{range .Tags}}<a class="tag" href="{{$.Site.Root}}/tag/{{.}}/index.html">{{.}}</a>{{end}}
                            </span>
                        </section>
                    </li> -->

                <a href="{{$.Site.Root}}/{{.Link}}">
                    <div class="mdui-card mdui-ripple"
                        style="--animate-delay: 0.5s;">

                        <div class="mdui-card-header">
                            <img class="mdui-card-header-avatar" src="{{.Author.Avatar}}" />
                            <div class="mdui-card-header-title">{{.Author.Name}}</div>
                            {{if .Update}}
                            <span class="date mdui-card-header-subtitle" data-time="{{.Update}}"><span
                                    class="from"></span></span>
                            {{else}}
                            <span class="date mdui-card-header-subtitle" data-time="{{.Date}}"><span
                                    class="from"></span></span>
                            {{end}}

                        </div>

                        <div class="mdui-card-media">
                            {{if .Cover}}
                            <img data-src="{{.Cover}}" alt="no-link" class="lazyload"
                                src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="/>
                            {{else}}
                            <img data-src="{{.Site.Root}}/images/sidebar_header.jpg" class="lazyload" alt="no-link"
                                src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="/>
                            {{end}}
                            <div class="mdui-card-media-covered mdui-card-media-covered">
                                <div class="mdui-card-primary">
                                    <div class="mdui-card-primary-title">{{if .Top}}<span class="top">[{{i18n "top"}}]</span>{{end}}{{.Title}}</div>
                                    <div class="mdui-card-primary-subtitle">{{.Preview}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div style="height:24px"></div>

                {{end}}
                <section>
                    {{if .Prev}}<a
                        class="prev mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme mdui-btn-block mdui-hoverable"
                        href="{{.Site.Root}}/{{.Prev}}">{{i18n "prev_page"}} {{.Page}} / {{.Total}}</a>{{end}}
                    {{if .Next}}<a
                        class="next mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme mdui-btn-block mdui-hoverable"
                        href="{{.Site.Root}}/{{.Next}}">{{i18n "next_page"}} {{.Page}} / {{.Total}}</a>{{end}}
                </section>
            </ul>

        </article>
    </article>
    {{template "footer" .}}
</body>
<script src="{{.Site.Root}}/bundle/index.js"></script>

</html>
